@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background: #161616;
  min-height: 100%;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

#loading-screen {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.loading-screen-remove {
  position: absolute;
  height: 0;
  -webkit-animation: loadingScreen 2s;
}

.welcome {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 50%;
  font-size: 40px;
  color: #fff;
  opacity: 1;
  transition: 1s ease-out;
}

@keyframes loadingScreen {
  0% {
    height: 100%;
  }
  100% {
    visibility: hidden;
    height: 0;
  }
}
nav {
  padding: 50px 0 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 20px;
  margin: 0 5px 0 0;
}
nav ul {
  display: flex;
  color: #fff;
  list-style-type: none;
  margin: 0 100px 0 0;
}
nav ul li {
  margin-left: 50px;
  transition: 0.2s ease-in-out;
}
nav ul li a {
  text-decoration: none;
  color: #6adb9d;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
nav ul li:hover {
  color: #fff;
  background: #2a573e;
}
nav .logo {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.link-list {
  display: flex;
  align-items: center;
}
.link-list .link {
  border: 1px solid #2a573e;
  padding: 5px;
  width: 100px;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.link-list a:hover {
  color: #000000;
}

.social {
  display: flex;
  flex-direction: column;
  color: #888;
  font-family: Poppins;
  position: fixed;
  top: 40%;
  right: 30px;
}
.social i {
  margin: 30px 0 0 0;
}

.hamburger {
  padding: 10px;
  color: #fff;
  position: absolute;
  top: 3em;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  nav {
    padding: 50px 0 0 0;
    margin: 0;
    flex-direction: column;
  }
  nav ul {
    width: 100%;
    margin: 0;
  }
  nav ul li {
    padding: 0;
    margin: 0;
  }

  .logo {
    width: 90%;
  }

  .link-list {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    padding: 0;
  }
  .link-list .link {
    border: 1px solid #272727;
    padding: 4px 0;
    margin: 8px 0;
    width: 100%;
    border-right: 0;
    border-left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    right: 10px;
    top: 38px;
  }

  .social {
    display: none;
    flex-direction: row;
    top: 6%;
    left: 43%;
  }
  .social i {
    margin: 0 0 0 20px;
  }
}
.main-body {
  width: 90%;
  position: absolute;
  font-size: 30px;
  top: 35%;
  left: 5%;
  text-transform: uppercase;
  color: #fff;
}
.main-body hr {
  width: 800px;
  background: #6adb9d;
  border: 0;
  height: 2px;
  padding: 0;
  margin: 0 0 5px 0;
}

.main-desc {
  font-size: 20px;
  text-transform: none;
  font-weight: 300;
  color: #a5a4a4;
  width: 100%;
  text-align: justify;
}

.main-wrapper {
  display: flex;
}

.main-body-info {
  width: 50%;
}
.main-body-info h1 {
  font-size: 35px;
}

.profile-picture {
  width: 200px;
}
.profile-picture img {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.profile-info {
  display: flex;
  flex-direction: column;
}
.profile-info li:first-child {
  padding: 5px 0 0 10px;
  background: none;
}
.profile-info li {
  list-style-type: none;
  font-size: 12px;
  text-transform: none;
  padding: 2px 0 0 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin-top: auto;
  padding: 10px;
}
footer .copywrite {
  color: #888888;
  font-size: 13px;
}
footer .respon-social {
  display: none;
  color: #888888;
}
footer .respon-social i {
  margin: 0 20px 0;
}

@media screen and (max-width: 1800px) {
  .main-wrapper {
    flex-direction: column;
  }

  .main-body-info {
    width: 50%;
  }
  .main-body-info h1 {
    font-size: 25px;
  }
  .main-body-info hr {
    width: 575px;
  }
}
@media screen and (max-width: 1280px) {
  .main-body-info {
    width: 55%;
  }
  .main-body-info h1 {
    font-size: 18px;
  }
  .main-body-info hr {
    width: 415px;
  }

  .main-desc {
    width: 90%;
    font-size: 17px;
  }
}
@media screen and (max-width: 950px) {
  .main-body-info {
    width: 80%;
  }

  footer .respon-social {
    display: flex;
  }
}
@media screen and (max-width: 829px) {
  .main-body-info {
    width: 60%;
  }
}
@media screen and (max-width: 790px) {
  .main-body-info {
    width: 100%;
  }
  .main-body-info h1 {
    font-size: 17px;
  }
  .main-body-info hr {
    width: 390px;
  }
}
@media screen and (max-width: 650px) {
  .main-body-info h1 {
    font-size: 17px;
  }
}
@media screen and (max-width: 500px) {
  .main-body {
    left: 25px;
  }

  .main-body-info h1 {
    font-size: 17px;
  }

  .logo {
    width: 88%;
  }

  .welcome {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
